.circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.7s ease-out;
  cursor: pointer;
}

@keyframes scale {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.6;
  }
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
