.wrapTabs {
    height: 60px;
    align-items: center;
  }
  .tabItem {
    flex: 1;
    text-align: center;
    border-top: 3px solid #f0f4fa !important;
    border-radius: 0;
    font-size: 15px;
    font-weight: 600;
    background-color: #f0f4fa;
    color: #273044;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    border: 1px solid #f0f4fa;
  }
  .tabItem.active {
    border-top-color: #385bce !important;
    background-color: #fff;
    color: #273044 !important;
  }
  .wrapComponent {
    margin: 48px 0;
  }