/* ================================== Display ==================================== */

.d-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.align-self-end {
  align-self: flex-end;
}
/* ================================== Display + prefix  ==================================== */
.d-flex.center {
  align-items: center;
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.j-around {
  justify-content: space-around;
}
.j-end {
  justify-content: flex-end;
}
.j-start {
  justify-content: flex-start;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.a-baseline {
  align-items: baseline;
}

/* ================================== gap  ==================================== */
.gap-12 {
  gap: 1.2rem;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-36 {
  gap: 3.6rem;
}

/* ================================ Possition ================================= */

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
  position: -webkit-sticky;
}
/* ============================ position + prefix ============================ */

.position-absolute.center,
.position-fixed.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.position-y-center {
  top: 50%;
  transform: translateY(-50%);
}
.position-x-center {
  left: 50%;
  transform: translateX(-50%);
}

.position-fixed.full {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.t-0 {
  top: 0;
}
.r-0 {
  right: 0;
}
.l-0 {
  left: 0;
}
.b-0 {
  bottom: 0;
}
.l-12 {
  left: 1.2rem;
}
.r-12 {
  right: 1.2rem;
}
.t-12 {
  top: 1.2rem;
}
.l-12 {
  left: 1.2rem;
}
/* ================================== Padding ================================== */

.p-0 {
  padding: 0;
}
.p-6 {
  padding: 0.6rem;
}
.p-12 {
  padding: 1.2rem;
}
.pb-12 {
  padding-bottom: 1.2rem;
}
.pr-12 {
  padding-right: 1.2rem;
}
.pl-12 {
  padding-left: 1.2rem;
}
.pt-12 {
  padding-top: 1.2rem;
}
.pb-24 {
  padding-bottom: 2.4rem;
}
.pt-24 {
  padding-top: 2.4rem;
}
.pr-24 {
  padding-right: 2.4rem;
}
.pl-24 {
  padding-left: 2.4rem;
}
.p-24 {
  padding: 2.4rem;
}
.py-12 {
  padding: 1.2rem 0;
}
.py-24 {
  padding: 2.4rem 0;
}
.px-12 {
  padding: 0 1.2rem;
}
.px-24 {
  padding: 0 2.4rem;
}
/* ================================== Margin ================================== */

.m-0 {
  margin: 0;
}
.m-3 {
  margin: 0.3rem;
}
.m-6 {
  margin: 0.6rem;
}
.mb-12 {
  margin-bottom: 1.2rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}
.mt-12 {
  margin-top: 1.2rem;
}
.mr-24 {
  margin-right: 2.4rem;
}

.mr-12 {
  margin-right: 1.2rem;
}
.ml-24 {
  margin-right: 2.4rem;
}

.ml-12 {
  margin-right: 1.2rem;
}
.mt-24 {
  margin-top: 2.4rem;
}
.m-12 {
  margin: 1.2rem;
}

.m-24 {
  margin: 2.4rem;
}
.my-12 {
  margin: 1.2rem 0;
}
.mx-12 {
  margin: 0 1.2rem;
}
.my-24 {
  margin: 2.4rem 0;
}
.mx-24 {
  margin: 0 2.4rem;
}
.m-0-auto {
  margin: 0 auto;
}
/* ================================== Text ==================================== */
.main-title {
  text-transform: capitalize;
  font-size: 2.6rem;
  font-weight: 600;
  margin: 12px 0;
  color: var(--text-color);
}
.textOverflow-1 {
  width: 100%;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.textOverflow-2 {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.textOverflow-3 {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-color {
  color: var(--text-color);
}
.text-danger {
  color: var(--text-danger);
}
.text-success {
  color: var(--text-success);
}
.text-waring {
  color: var(--text-waring);
}
.fz-14 {
  font-size: 1.4rem;
}
.fz-16 {
  font-size: 1.6rem;
}
.fz-18 {
  font-size: 1.8rem;
}
.fz-20 {
  font-size: 2rem;
}
.fz-22 {
  font-size: 2.4rem;
}
.fz-24 {
  font-size: 2.4rem;
}
.fz-26 {
  font-size: 2.6;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* ================================== border ==================================== */
.border-0 {
  border: none;
}
.border {
  border: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-top {
  border-top: 1px solid var(--border-color);
}
/* ================================== radius ==================================== */
.radius-4 {
  border-radius: 0.4rem;
}
.radius-6 {
  border-radius: 0.6rem;
}
.radius-8 {
  border-radius: 0.8rem;
}
.radius-10 {
  border-radius: 0.8rem;
}
.radius-50 {
  border-radius: 50%;
}

/* ================================== heihgt ==================================== */
.h-100 {
  height: 100%;
}
.vh-100 {
  height: 100vh;
}
/* ================================== width ==================================== */
.w-100 {
  width: 100%;
}
/* ================================== font-weight ==================================== */
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
/* ================================== line-heihgt ==================================== */
.line-height-24 {
  line-height: 2.4rem;
}
.line-height-36 {
  line-height: 3.6rem;
}
.line-height-48 {
  line-height: 4.8rem;
}
/* ================================== hover ==================================== */
.hover-default:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/* ================================== scroll bar ==================================== */
.scrollbar-1 {
  visibility: hidden;
  overflow-y: auto;
  height: 100vh;
}
.scrollbar-1:hover,
.scrollbar-1:focus,
.showScrollbar-content {
  visibility: visible;
}
.scrollbar-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(198, 198, 198, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scrollbar-1::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scrollbar-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(164, 168, 171, 0.7);
  background-color: rgba(194, 198, 201, 0.7);
  transition: 0.3s;
}

.scrollbar-default {
  overflow-y: auto;
  height: 100vh;
}
.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(174, 174, 174, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scrollbar-default::-webkit-scrollbar {
  width: 16px;
  background-color: #f5f5f5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(130, 133, 135, 0.7);
  background-color: rgba(130, 133, 135, 0.4);
}
/* ================================== background ==================================== */
.bg-default {
  background-color: var(--bg-default);
}
.bg-white {
  background-color: var(--white);
}
/* ================================== overfllow ==================================== */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
/* ================================== cursor ==================================== */
.cursor-pointer {
  cursor: pointer;
}
/* ================================== any ==================================== */
.pointer-events-none {
  pointer-events: none;
}
.userSelect-none {
  user-select: none;
}
.space-sidebar {
  margin-left: var(--width-sidebar);
}
.list {
  list-style: disc;
  padding-left: 24px;
}
.show {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.loadSkeleton::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #d9d9d9 0%, #888b94 20%, #d9d9d9 40%, #d9d9d9 100%);
  background-size: 450px 400px;
  background-repeat: no-repeat;
  animation: shimmer 1.4s linear infinite;
}
.overlay {
  background-color: var(--overlay-color);
  z-index: 301;
}
