* {
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  display: block;
  max-width: calc(100% - (4.8rem));
  margin: 0 auto;
}
.container-xxl {
  width: 100%;
  display: block;
  max-width: calc(100% - (4.8rem));
  margin: 0 auto;
}
.container-xl {
  width: 100%;
  display: block;
  max-width: calc(100% - (4.8rem));
  margin: 0 auto;
}
.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: calc(100% - (4.8rem));
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* default style */
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  display: block;
  max-width: 100%;
  flex: 0 0 100%;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  padding-bottom: 1.2rem;
}
/* end defauklt */
/* Small screen /  xs: 576px*/
@media (max-width: 35.9375em) {
  .container-fluid {
    max-width: calc(100% - (1.2em));
  }
  .container {
    max-width: calc(100% - (1.2em));
  }
  .row {
    margin-right: -0.4rem;
    margin-left: -0.4rem;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    display: block;
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 1.2rem;
  }
}
/* Small screen / phone sm: 576px*/
@media (min-width: 36em) {
  .container {
    max-width: 33.75em;
  }
  .container-xl {
    max-width: 33.75em;
  }
  .container-xxl {
    max-width: 33.75em;
  }
  .container-fluid {
    max-width: calc(100% - (3.2rem));
  }
  .row {
    margin-right: -0.8rem;
    margin-left: -0.8rem;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    display: block;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 1.6rem;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 50%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Medium screen / tablet md: 768px */
@media (min-width: 48em) {
  .container {
    max-width: 45em;
  }
  .container-fluid {
    max-width: calc(100% - (3.2rem));
  }
  .container-xl {
    max-width: 45em;
  }
  .container-xxl {
    max-width: 45em;
  }
  .row {
    margin-right: -0.8rem;
    margin-left: -0.8rem;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    display: block;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 1.6rem;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 50%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Large screen / desktop lg: 992px, */
@media (min-width: 62em) {
  .container {
    max-width: 60em;
  }
  .container-fluid {
    max-width: calc(100% - (4.8rem));
  }
  .container-xl {
    max-width: 60em;
  }
  .container-xxl {
    max-width: 60em;
  }
  .row {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    display: block;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    padding-bottom: 2.4rem;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 50%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*
từ 75 em trở lên 
Extra large screen / wide desktop xl: 1200px */
@media (min-width: 75em) {
  .container {
    max-width: 73em;
    margin: 0 auto;
  }
  .container-xxl {
    max-width: 73em;
  }
  .container-xl {
    max-width: 73em;
  }
  .row {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    display: block;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    padding-bottom: 2.4rem;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 50%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*
từ 75 em trở lên 
Extra large screen / wide desktop xxl: 1320px */
@media (min-width: 87.5em) {
  .container-xxl {
    max-width: 82.5em;
  }
}
