.wrap {
    background-color: rgba(168, 168, 168, 0.3);
    z-index: 99;
}

.modal {
    width: 400px;
    height: 300px;
    max-width: calc(100% - (24px));
    background-color: #fff;
    overflow: auto;
    padding: 12px;
}
.close{
    right: 6px;
    top: 6px;
}
.close:hover{
    cursor: pointer;
    fill:rgb(46, 46, 46);
    background-color: rgb(236, 234, 234);
    border-radius: 3px;
}